<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
    </style>
    <script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
        }
    }
    </script>
</head>

<body>
    <div style="display:flex; flex-direction: column; width: 300px; height: 500px;">
        <div id="threejs_container" style="flex-grow: 1;"></div>
        <button id="agent_button">Press and hold to speak</button>
        <p id="status"></p>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='threejs_container.js') }}"></script>
<script src="{{ url_for('static', filename='agent_button.js' )}}"></script>

</html>