<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Welcome! </title>
    </head>
    <body>
        Hello user
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('index') }}">Settings</a>
        <form id="mainForm", action="{{ url_for('start') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.start() }}
        </form>
        <p id="responseText">Press the button!</p>
        <span id="tableSpan">{% include "table.html" %}</span>
        <script>
            const mainForm = document.getElementById('mainForm');
            const responseText = document.getElementById('responseText')
            mainForm.addEventListener('submit', async (event) => {
                event.preventDefault()
                const formData = new FormData(mainForm)
                try{
                    const response = await fetch('/start', {method:'POST', body:formData});
                    if (response.ok) {
                        const result = await response.json();
                        responseText.textContent = 'Button pressed with no refresh!'
                        console.log('success:', result);
                    } else {
                        const error = await response.json();
                        console.error('response error:', error);
                    }
                } catch (error) {
                    console.error('fetch error:', error);
                }
            });

            function prev_page() {
                fetch("{{ url_for("paginated_prev") }}")
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById("tableSpan").innerHTML = html;
                    });
            }
            function next_page() {
                fetch("{{ url_for("paginated_next") }}")
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById("tableSpan").innerHTML = html;
                    });
            }
        </script>
    </body>
</html>
