<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Welcome! </title>
    </head>
    <body>
        Hello user
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('index') }}">Settings</a>
        <form id="mainForm", action="{{ url_for('start') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.start() }}
        </form>
        <p id="responseText">Press the button!</p>
        {% if paginated %}
        <p>
        <table>
            <thead><tr>
                {% for h in paginated.header %}
                <th>{{ h }}</th>
                {% endfor %}
            </tr></thead>
            <tbody>
                {% for row in paginated.get_current_items() %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </p>
        <p>
        Page {{ paginated.page+1 }} / {{ paginated.pages }}<br>
        {% if paginated.next_page_num() is not none %}
        <a href="{{ url_for('index', page=paginated.next_page_num()) }}">Next</a>
        {% endif %}
        {% if paginated.prev_page_num() is not none %}
        <a href="{{ url_for('index', page=paginated.prev_page_num()) }}">Prev</a>
        {% endif %}
        </p>
        {% endif %}
        <script>
            const mainForm = document.getElementById('mainForm');
            const responseText = document.getElementById('responseText')
            mainForm.addEventListener('submit', async (event) => {
                event.preventDefault()
                const formData = new FormData(mainForm)
                try{
                    const response = await fetch('/start', {method:'POST', body:formData});
                    if (response.ok) {
                        const result = await response.json();
                        responseText.textContent = 'Button pressed with no refresh!'
                        console.log('success:', result);
                    } else {
                        const error = await response.json();
                        console.error('response error:', error);
                    }
                } catch (error) {
                    console.error('fetch error:', error);
                }
            });
        </script>
    </body>
</html>
