<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Enter login info: </title>
    </head>
    <body>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username() }}
                {% for error in form.username.errors %}
                <span style="color:red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password() }}
                {% for error in form.password.errors %}
                <span style="color:red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.remember_me() }} {{ form.remember_me.label}}
            </p>
            {% if login_error %}
                <p>
                    <span style="color:red;">{{ login_error }}</span>
                </p>
            {% endif %}
            <p>
                {{ form.submit() }}
            </p>
            <p>
            <a href="{{ url_for('register') }}">Create new account</a>
            </p>
        </form>
    </body>
</html>
