{% if paginated %}

<p style="margin-top: 0px;">
    Page {{ paginated.page+1 }} / {{ paginated.pages }}<br>
    <button {% if paginated.prev_page_num() is not none %} onclick="prev_page()" {% else %} disabled {% endif %}>
        Prev
    </button>
    <button {% if paginated.next_page_num() is not none %} onclick="next_page()" {% else %} disabled {% endif %}>
        Next
    </button>
</p>

<table>
    <thead>
        <tr>
            {% for h in paginated.header %}
            <th>{{ h }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in paginated.get_current_items() %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}